
    <nav class="navbar navbar-expand-lg navbar-light bg-light .navbar-toggler">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="''">
                <img src="../../../assets/img/logo3.svg" alt="" width="80px" height="auto" class="imglogo d-inline-block align-text-top">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="''">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="nosotros">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'">Ingresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="registro">Registrate</a>
                </li>

                </ul>
            </div>
        </div>
    </nav>
