
    <nav class="navbar navbar-expand-lg navbar-light bg-light .navbar-toggler">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/logo3.svg" alt="" width="80px" height="auto" class="imglogo d-inline-block align-text-top">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conoce más</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar sessón</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrate</a>
                </li>

                </ul>
            </div>
        </div>
    </nav>


<!--





<div class="container navbar">

    <div class="row">
        <div class="col col-xs-3">
            <a href=""><img class="text-left img-fluid img-logo" src="../../../assets/img/logo.jpg" alt="logotipo de la empresa"></a>
        </div>
    </div>

    <div class="row">
        <div class="col col-xs-9">
            <ul class="nav">
                <li class="nav-link"><a href="#">Login</a></li>
                <li class="nav-link"><a href="#">Conocé más</a></li>
                <li class="nav-link"><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>

</div>













    <div class="row">
        <div class="col col-xs-12 text-center">

        </div>
    </div>
</div>
-->
