

<div class="login">
  
 <form class="custom-form" method="post">
  <h1>Login</h1>
  <input
    type="email"
    [(ngModel)]="email"
    name="email"
    placeholder="Email"
    required="required"
  />
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    placeholder="Contraseña"
    required="required"
  />
  <button type="submit" (click)="login()">Ingresar</button>
    <div class="form-group">
    <p> <a [routerLink]="'/forgot-password'" style='color: #1dca73'>Recuperar contraseña</a></p>
    </div>
  </form>
  
</div>