<div class="about-section">
  <h1>Conocénos un poco más...</h1>
  <p>KE-PÚA</p>
  <p>Los monstruos de las criptomonedas.</p>
</div>

<h2 style="text-align:center">Nuestro Equipo</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/img/Monstruo_1_circ_200x200.jpg" alt="Rosi" style="width:100%">
      <div class="container">
        <h2>Rosi</h2>
        <p class="title">CEO & Foundadora</p>
        <p>La de la idea.</p>
        <p>rosi@kepua.com.ar</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>
  <!--
  <div class="column">
    <div class="card">
      <img src="../assets/img/Monstruo_2_circ_200x200.jpg" alt="Walter" style="width:100%">
      <div class="container">
        <h2>Walter</h2>
        <p class="title">Asesor Económico</p>
        <p>Sabe de plata.</p>
        <p>walter@kepua.com.ar</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>
  -->
  <div class="column">
    <div class="card">
      <img src="../assets/img/Monstruo_6_circ_200x200.jpg" alt="Agustín" style="width:100%">
      <div class="container">
        <h2>Agustín</h2>
        <p class="title">Diseñador</p>
        <p>Ta re loco este.</p>
        <p>agustinppc@kepua.com.ar</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>


  <!-- <div class="row"> -->
    <div class="column">
      <div class="card">
        <img src="../assets/img/Monstruo_4_circ_200x200.jpg" alt="Miguel" style="width:100%">
        <div class="container">
          <h2>Miguel</h2>
          <p class="title">Programador</p>
          <p>El monstruo de las Bases de Datos.</p>
          <p>miguel@kepua.com.ar</p>
          <p><button class="button">Contacto</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/img/Monstruo_5_circ_200x200.jpg" alt="Gerardo" style="width:100%">
        <div class="container">
          <h2>Gerardo</h2>
          <p class="title">Programador</p>
          <p>El código es su poesía.</p>
          <p>gerardo@kepua.com.ar</p>
          <p><button class="button">Contacto</button></p>
        </div>
      </div>
    </div>
  <!--
    <div class="column">
      <div class="card">
        <img src="../assets/img/Monstruo_6_circ_200x200.jpg" alt="Marcelo" style="width:100%">
        <div class="container">
          <h2>Marcelo</h2>
          <p class="title">Programador</p>
          <p>Genio del punto y coma.</p>
          <p>marcelo@kepua.com.ar</p>
          <p><button class="button">Contacto</button></p>
        </div>
      </div>
    </div>  
-->
<div class="row"> 
</div> 
</div> 