<div class="container-fluid"> 
    <div class="row">
        <div class="col align-self-center text-center">
            <h1>Bienvenido a</h1>
            <h2>QuePua-Wallet!</h2>          
        </div>
        <div class="col text-center">
            <img class="img-body" src="../../../assets/img/img-body1.svg" alt="">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row text-descripcion">
        <div class="col col-md-6 text-center">
            <p>La forma más simple de operar en pesos o criptomonedas.</p>
            <p>Empezá hoy!</p>
        </div>
    </div>

    <div class="row row-Link-registro">
        <div class="col col-md-6 text-center">
            <a class="Link-registro" href="#">Crea tu cuenta</a>
        </div>
    </div>
</div>



