<h1><b>FAQ - PREGUNTAS FRECUENTES</b></h1>
<button class="accordion">¿Seguro tienen permiso del Gobierno para esto?</button>
<div class="faq_agustin">
  <p>¡Shhhh! ¡Cállate, Niño!</p>
</div>

<button class="accordion">Tengo un amigo que dice que es malo invertir en Bitcoin, ¿es un desquiciado?</button>
<div class="faq_agustin">
  <p>Nahhh... es un ignorante. Seguro tu amigo no ha oido de las criptomonedas.</p>
</div>

<button class="accordion">Ehhm... ¿Puede darme dinero?</button>
<div class="faq_agustin">
  <p>Invierta con nosotros.</p>
</div> 

