
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

</head>

<body>




  <input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-header">
      <h4 class="brand">
        <span class="ti-wallet"></span>
        <span>KePúa</span>

      </h4>

      <label for = "sidebar-toggle" ><span class="ti-menu-alt"></span></label>

    </div>
	 <hr>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="">
            <span class="ti-home" ></span>
            <span>HOME</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/nosotros'">
            <span class="ti-face-smile"></span>
            <span>Equipo</span>
          </a>
        </li>

        <li>
          <a [routerLink]="'/faq'">
            <span class="ti-help-alt"></span>
            <span>Ayuda</span>
          </a>
        </li>

        <li>
          <a [routerLink]="'/configuracion'">
            <span class="ti-settings"></span>

             <span>Cuenta</span>
          </a>
        </li>
		<li>
          <a href="">
            <span class="ti-power-off"></span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="main-content">

    <header>
      <div class="search-wrapper">
        <span class="ti-search">
          <input type="search" placeholder="Buscar">
        </span>
      </div>
      <div class="social-icons" >
        <span class="ti-bell"></span>
        <span class="ti-comment"> </span>
        <div class="foto-perfil"> <img class="img-responsive" src="assets/img/1.JPG" alt="foto perfil" ></div>
      </div>
    </header>
    <main>




      <h2 class="dash-title">Operaciones en Pesos</h2>
      <div class="dash-cards">
        <div class="card-single">
          <div class="card-body">
            <span class="ti-wallet"></span>
            <div>
              <h5>Dinero disponible</h5>
              <h4>$325.212</h4>
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Retirar Dinero</a>-->

            <div class="popu">

              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Retirar Dinero
              </button>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Dinero a Retirar</h5>

                    </div>
                    <div class="modal-body">
                      <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div>
             </div>


          </div>
        </div>
        <div class="card-single">
          <div class="card-body">
            <span class="ti-credit-card"></span>
            <div>
              <h5>Depositar Dinero</h5>
              &nbsp;
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Ingrese una suma de dinero</a>-->


                 <div class="popu">

                  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel">Dinero a Depositar</h5>
                          <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                          </div>

                        </div>
                        <div class="modal-body">
                          Realizar la operación
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel2">Confirmar operación</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-footer">
                          <button class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal">Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <a class="btn btn-secondary" data-bs-toggle="modal" href="#exampleModalToggle"   role="button">Realizar Deposito  </a>
                 </div>



          </div>

        </div>

        <div class="card-single">
          <div class="card-body">
            <span class="ti-check-box"></span>
            <div>
              <h5>Operaciones Realizadas</h5>
             
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Consultar</a>-->

                  <div class="pop">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Consultar</button>


                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Últimos movimientos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Moneda</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Deposito</td>
                                    <td>$55633</td>
                                    <td>Dolar</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Retiro</td>
                                    <td>$4582</td>
                                    <td>Peso</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td >Transferencia</td>
                                    <td>$78582</td>
                                    <td>Peso</td>
                                  </tr>
                                </tbody>
                              </table>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

          </div>
        </div>

		<div class="card-single">
          <div class="card-body">
            <span class="ti-sharethis"></span>
            <div>
              <h5>Transferir a otra cuenta</h5>
              &nbsp;
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Cantidad a enviar</a>-->
                <div class="poup">

                      <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ejModal">
  Ingrese Cantidad
</button>

<!-- Modal -->
<div class="modal fade" id="ejModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transferencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                INGRESE CBU
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">

                  <h5 class="modal-title" id="exampleModalToggleLabel">Ingrese CBU</h5>

                  <input class="form-control" type="text" placeholder="CBU" aria-label="CBU">

                  <h5 class="modal-title" id="exampleModalToggleLabel">Dinero a Tranferir</h5>

                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div>
                  &nbsp;

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                CUENTA MERCADOPAGO
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">

                <h5 class="modal-title" id="exampleModalToggleLabel">Ingrese Número de Cuenta</h5>
                  
                <input class="form-control" type="text" placeholder="N° DE CUENTA" aria-label="CBU">
                
                <h5 class="modal-title" id="exampleModalToggleLabel">Dinero a Tranferir</h5>

                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <span class="input-group-text">.00</span>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

                </div>

          </div>
        </div>

      </div>
	   <h2 class="dash-title">Operaciones con Bitcoins</h2>
      <div class="dash-cards">
        <div class="card-single">
          <div class="card-body">
            <span class="ti-shopping-cart"></span>
            <div>
              <h5>Comprar Bitcoins</h5>
              <h4>BTC</h4>
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Cantidad a adquirir</a>-->

            <div class="popu">

              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#BTC">
                Comprar Bitcoins
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="BTC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">BTC a Comprar</h5>
                      
                    </div>
                    <div class="modal-body">
                      <label class="form-label" for="customRange1">Indique la cantidad a comprar</label>
                        <div class="range">
                           <input type="range" class="form-range" id="customRange1" />
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div> 
             </div>

          </div>
        </div>
        <div class="card-single">
          <div class="card-body">
            <span class="ti-export"></span>
            <div>
              <h5>Vender Bitcoins</h5>
              <h4>BTC</h4>
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Cantidad a vender</a>-->

            <div class="popu">

              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#BTCventa">
                Vender Bitcoins
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="BTCventa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">BTC a Vender</h5>
                      
                    </div>
                    <div class="modal-body">
                      <label for="customRange2" class="form-label">Indique la cantidad a vender</label>
                      <input type="range" class="form-range" id="customRange2">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div> 
             </div>

          </div>
        </div>
        <div class="card-single">
          <div class="card-body">
            <span class="ti-check-box"></span>
            <div>
              <h5>Operaciones Realizadas</h5>
              
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Ver</a>-->

            <div class="pop">
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ej" data-bs-whatever="@mdo">Consultar</button>
             
             
              <div class="modal fade" id="ej" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Últimos movimientos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Monto</th>
                              <th scope="col">Moneda</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Compra</td>
                              <td>฿ 0.00055633</td>
                              <td>Dolar</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Venta</td>
                              <td>฿ 0.0004582</td>
                              <td>Peso</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td >Compra</td>
                              <td>฿ 0.00078582</td>
                              <td>Peso</td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <!--<button type="button" class="btn btn-primary">Aceptar</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-single">
          <div class="card-body">
            <span class="ti-eye"></span>
            <div>
              <h5>Consultar comisiones</h5>
              &nbsp;
            </div>
          </div>
          <div class="card-footer">
            <!--<a href="">Consultar</a>-->

            <div class="pop">
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#comi" data-bs-whatever="@mdo">Consultar</button>
             
             
              <div class="modal fade" id="comi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Comisiones Vigentes</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Operación</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Pagás</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Compra</td>
                              <td>$1000</td>
                              <td>4,29% + IVA</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Venta</td>
                              <td>$1000</td>
                              <td>3,39% + IVA</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Compra</td>
                              <td>฿ 0.00000001</td>
                              <td>6,39% + IVA</td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <!--<button type="button" class="btn btn-primary">Aceptar</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
	  <div class="chart-grid">
        <div class="chart-followers">
          <div class="chart-head">
            <h4>Evolución de BTC vs Peso</h4>
            <span class="las la-cog"></span>
          </div>
          <div> <img class="img-responsive" src="assets/img/4.jpg" alt="logo kepúa"
            style="width: 100% "> 
      </div>
        </div>
		 <div class="chart-sales">
          <div class="chart-head">
            <h4>Consultar Cotizaciones </h4>
            <span class="las la-cog"></span>
          </div>
          <iframe id="inlineFrameExample"

          src="https://cotizadordecriptomonedasprueba.netlify.app/">
      </iframe>
        </div>
      </div>


         <section class="recent">
            <div class="activity-grid">

              <div class="activity-card">

                <h4>Actividad reciente</h4>

                <table>
                    <thead>
                        <tr>
                          <th>Transacción</th>
                          <th>Fecha de operación</th>
                          <th>Fecha de cierre</th>
                          <th>Moneda</th>
                          <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Compra</td>
                          <td>15 July, 2021</td>
                          <td>22 Aug, 2021</td>
                          <td class="td-team">


                            <div class="img-3" ><img class="img-responsive" src="assets/img/3.jpg" alt="foto moneda" ></div>
                          </td>
                          <td>
                              <span class="badge success">Realizado</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Deposito</td>
                          <td>15 July, 2021</td>
                          <td>22 Aug, 2021</td>
                          <td class="td-team">

                            <div class="img-2"><img class="img-responsive" src="assets/img/2.jpg" alt="foto moneda" ></div>

                          </td>
                          <td>
                              <span class="badge warning">Procesando</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Venta</td>
                          <td>15 July, 2021</td>
                          <td>22 Aug, 2021</td>
                          <td class="td-team">

                            <div class="img-3"><img class="img-responsive" src="assets/img/3.jpg" alt="foto moneda" ></div>
                          </td>
                          <td>
                              <span class="badge success">Realizado</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Transferencia</td>
                          <td>15 July, 2021</td>
                          <td>22 Aug, 2021</td>
                          <td class="td-team">

                            <div class="img-2" ><img class="img-responsive" src="assets/img/2.jpg" alt="foto moneda" ></div>

                          </td>
                          <td>
                              <span class="badge warning">Procesando</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Compra</td>
                          <td>15 July, 2021</td>
                          <td>22 Aug, 2021</td>
                          <td class="td-team">

                            <div class="img-3" ><img class="img-responsive" src="assets/img/3.jpg" alt="foto moneda" ></div>
                          </td>
                          <td>
                              <span class="badge success">Realizado</span>
                          </td>
                        </tr>
                    </tbody>
                </table>

              </div>
              <div class="sumary">
                  <div class="sumary-card">
                      <div class="sumary-single">
                        <span class="ti-id-badge"></span>
                        <div>
                            <h5>196</h5>
                            <small>Numero del staff</small>
                        </div>

                      </div>
                      <div class="sumary-single">
                        <span class="ti-calendar"></span>
                        <div>
                            <h5>16</h5>
                            <small>Numero de licencia</small>
                        </div>
                      </div>
                      <div class="sumary-single">
                        <span class="ti-face-smile"></span>
                        <div>
                            <h5>12</h5>
                            <small>Solicitar actualización del perfil</small>
                        </div>
                      </div>
                  </div>
                  <div class="bday-card">
                      <div class="bday-flex">
                        <div class="bday-img" ><img class="img-responsive" src="assets/img/1.JPG" alt="foto moneda" ></div>
                        <div class="bday-info">
                            <h5>Juan Carlos Batman</h5>
                            <small>Cumpleaños hoy</small>
                         </div>
                      </div>

                      <div class="text-center">
                        <button><span class="ti-gift"></span>
                          Saludalo
                        </button>
                      </div>
                  </div>
              </div>
            </div>
         </section>
    </main>

  </div>



</body>

</html>
