<!DOCTYPE html>
<html lang="en">
<head>

  <title>Document</title>
</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
              <div class="card-header" >
                <div class="row text-center">
                  <div class="col">
                    <img class="img-body" src="../../../assets/img/logo3.svg"
                      alt="Logo"
                      width="200px"
                      height= auto
                      >
                  </div>
                </div>
                <div class="row text-center">
                   <div>
                       <h3>Registrarse</h3>
                   </div>
                </div>
              </div>
                <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col">
                            <div class="form-group row">
                              <label for="name" class="col-md-4 col-form-label text-md-right">Nombre</label>

                              <div class="col-md-9">
                                  <input id="name" type="text" class="form-control" name="name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="birthday">Fecha de nacimiento</label>

                              <div class="col-md-9">
                                <input type="date" id="birthday" name="birthday">
                              </div>
                            </div>
                          <div class="form-group row">
                              <label for="email" class="col-md-4 col-form-label text-md-right">Correo electrónico</label>

                              <div class="col-md-9">
                                  <input id="email" type="email" class="form-control " name="email" >
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>

                              <div class="col-md-9">
                                <input id="password-confirm" type="password" class="form-control" >
                              </div>
                          </div>
                      </div>

                      <div class="col">
                        <div class="form-group row">
                          <label for="apellido" class="col-md-4 col-form-label text-md-right">Apellido</label>

                          <div class="col-md-9">
                              <input id="apellido" type="text" class="form-control" name="apellido">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="dni" class="col-md-4 col-form-label text-md-right">DNI</label>

                          <div class="col-md-9">
                              <input id="dni" type="number" class="form-control" name="dni">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="telefono" class="col-md-4 col-form-label text-md-right">Telefono</label>

                          <div class="col-md-9">
                              <input id="telefono" type="number" class="form-control" name="telefono">
                          </div>
                        </div>
                          <div class="form-group row">
                              <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirmar contraseña</label>

                              <div class="col-md-9">
                                  <input id="password-confirm" type="password" class="form-control" >
                              </div>
                          </div>
                      </div>
                    </div>
                      <div class="form-group row-md-4 mb-2">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Registrarse
                                </button>
                            </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>

</body>
</html>
